* {
    padding: 0;
    margin: 5px;
    font-family: sans-serif;
}

.code {
    text-align: center;
    font-size: 25px;
    position: center;
}

.code:hover {
    padding: 8px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: aquamarine;
}

.container {
    display: grid;
}

.input {
    padding: 8px;
    border: 2px solid chocolate;
    border-radius: 8px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.btn {
    background: rgb(97, 95, 95);
    color: black;
    padding: 8px;
    font-size: 28px;
    position: center;
    border: 2px solid black;
    border-radius: 8px;
}

.btn:hover {
    background: #00ff;
    color: white;
}

#stop {
    display: none;
}